<h1>Hangman Game</h1>

<h3>Choose a person to challenge with your word</h3>
  <%= form_tag games_path do %>
    <%= collection_select :game, :player_id, User.all, :id, :username %>
    <input type='text' name = "game[word]"> 
    <button>Submit</button>
  <% end %>
<p> 
    <% @players.each do |player| %>
    <ul>
    <% if player != current_user%>
      <li>
        <%= player.email %>
        <% end %>
      </li>
    </ul>
    <% end %>
 </p>

<h3>Enter a word to challenge your friend</h3>
<% bootstrap_form_for @game do |f| %>
  <%= f.text_field :secret_word %>
  <%end%>
 <button type = "button" class = "btn btn-primary"> Submit Word!</button>