<center><h1>Hangman Game</h1></center>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h2>Want to Challenge a Friend?</h2>
<h3>Choose a person and enter your word</h3>
  <%= form_tag games_path do %>
    <%= collection_select :game, :player_id, @players, :id, :username %>
    <input type='text' name = "game[word]"> 
    <button class = "btn btn-primary">Submit</button>
  <% end %>

<h2>Ready to Play?  Accept a challenge from ...</h2>
<ul>
  <%@games.each do |game|%>
    <% next if game.hangman.over? %>
    <% if game.suggester_id != current_user.id%>
        <h3><span + span {margin-left: 10px}>
          <% name = User.find(game.suggester_id).username%>
          <%= link_to "#{name}", game %>
        </span></h3>
    <%end%>
  <%end%>
</ul>